.wrap{
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(139, 0, 0, 0) 50%, rgba(0,0,0,0.9) 100%),
    url("../assets/bookcase.jpg"); 
    background-size: cover;
    margin: 0;
    overflow-x: scroll;
    padding: 0;
}