.hamContainer {
  position: relative;

  
}

.hamburger {  
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: all 0.3s;
}

.hamburger .close {
  width: 20px;
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .close + .bar {
  opacity: 0;
}

.hamburger .close + .bar + .bar {
  transform: rotate(-45deg) translate(5px, -5px);
  width: 20px;
}

.hamContent {
  display: none;
  position: absolute;
  top: 50px;
  left: -200px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hamContent.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 55vw;
}

.dropdown {
  button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s;
  }
}

.dropdownContent {
  display: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 10px;

}

.dropdown:hover .dropdownContent {
  display: block;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  padding: 10px;
  color: #333;
  transition: color 0.3s;
}

.navButton:hover {
  color: #666;
}

.navButton.active {
  color: #007bff;
}

@media (min-width: 800px) {
  /* Hide hamburger menu on larger screens */
  .hamburger {
    display: none;
  }
  
  /* Show navigation content by default on larger screens */
  .hamContent {
    display: block;
    position: static;
    background-color: transparent;
    width: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  
  .navButton {
    font-size: 18px;
    padding: 15px 20px;
    display: inline-block;
  }
  
  .dropdown {
    display: inline-block;
    margin-right: 20px;
  }
  
 
  
  
  
  .dropdownContent li {
    display: block;
    margin-bottom: 10px;
  }
  
  .dropdownContent a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdownContent a:hover {
    color: #666;
  }
}


