.html,
.body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  /* Prevent right-click context menu */

 

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .App {
    height: auto;
    min-height: 100vh;
  }
  .Content{
max-height: 87.5dvh;  }
}
